/* Manifiesto styles */

/*loader*/

@keyframes ldio-t4r8u7l9w1-r {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { transform: scale(0.7000000000000001) rotate(180deg) }
    25% { transform: scale(0.7000000000000001) rotate(270deg) }
    50% { transform: scale(0.7000000000000001) rotate(360deg) }
    75% { transform: scale(0.7000000000000001) rotate(450deg) }
    100% { transform: scale(0.7000000000000001) rotate(540deg) }
  }
  @keyframes ldio-t4r8u7l9w1-z {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(1) }
    50% { transform: scale(1) }
    100% { transform: scale(.5) }
  }
  @keyframes ldio-t4r8u7l9w1-p {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(0) }
    50% { transform: scale(1) }
    100% { transform: scale(1) }
  }
  @keyframes ldio-t4r8u7l9w1-c {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { background: #fdfdfd }
    25% { background: #fdfdfd }
    50% { background: #fdfdfd }
    75% { background: #fdfdfd }
    100% { background: #fdfdfd }
  }
  .ldio-t4r8u7l9w1 > div {
    animation: ldio-t4r8u7l9w1-r 4s linear infinite;
    transform-origin: 100px 100px;
  }
  .ldio-t4r8u7l9w1 > div > div {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: ldio-t4r8u7l9w1-z 1s linear infinite;
    transform-origin: 200px 200px;
  }
  .ldio-t4r8u7l9w1 > div > div div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fdfdfd;
    transform-origin: 50px 50px
  }
  .ldio-t4r8u7l9w1 > div > div div:nth-child(1) {
    left: 0px;
    top: 0px;
    animation: ldio-t4r8u7l9w1-p 1s linear infinite, ldio-t4r8u7l9w1-c 4s linear infinite;
  }
  .ldio-t4r8u7l9w1 > div > div div:nth-child(2) {
    left: 100px;
    top: 0px;
    animation: ldio-t4r8u7l9w1-p 1s linear infinite, ldio-t4r8u7l9w1-c 4s linear infinite;
  }
  .ldio-t4r8u7l9w1 > div > div div:nth-child(3) {
    left: 0px;
    top: 100px;
    animation: ldio-t4r8u7l9w1-p 1s linear infinite, ldio-t4r8u7l9w1-c 4s linear infinite;
  }
  .ldio-t4r8u7l9w1 > div > div div:nth-child(4) {
    left: 100px;
    top: 100px;
    transform: scale(1);
    animation: ldio-t4r8u7l9w1-c 4s linear infinite
  }
  .loadingio-spinner-chunk-jrnzhetn4ec {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-t4r8u7l9w1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-t4r8u7l9w1 div { box-sizing: content-box; }

  

.loadingio-spinner-chunk-jrnzhetn4ec{
    margin-top: 30vh;
    margin-left: 43%;
}

  /*end loader*/


.slide-section{
    height: 700px;
    justify-content: space-around;
    align-items: flex-end;
}


.slick-slide:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
}

.prueba-fade img{
    position: absolute;
}

/* Seccion Nike antes y después*/
#page{
    width: 50%;
    height: 100%;
    position:absolute;
}
  
/* Our normalize css */
*{
    margin:0;
    box-sizing: border-box;
}
  
/* Our wrapper */
.wrapper{
    width: 424px;
    height: 600px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50%,-50%,0);
    overflow:hidden;
}
  
/* Our image information */
.before,
.after {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    overflow: hidden;
}
  
.content-image{
    height:100%;
}
  
.after{
    width:125px;
}
  
.scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
}
  
.scroller:hover{
    opacity:1;
}
  
.scrolling{
    pointer-events:none;
    opacity:1;
    z-index: 1;
}
  
.scroller__thumb{
    width:100%;
    height:100%;
    padding:5px;
}
  
.scroller:before,
.scroller:after{
    content:" ";
    display: block;
    width: 3px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    z-index: 30;
    transition:0.1s;
}
.scroller:before{
    top:100%;
}
.scroller:after{
    bottom:100%;
}
  
/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
border: 2px solid #fff;
}
.scroller:before,
.scroller:after{
background: #fff;
}

#seccion-antes-y-despues .col{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

#seccion-layers-fade h3{
    margin-top: 50%;
}