@import url(../assets/fonts/font.css);
@import url(colors.css);

*{
    font-family: Lato-Regular, Arial, sans-serif;
    color: var(--dark-text-color);
}

/* Custom scrollbar */
/* ::-webkit-scrollbar {
    width: 40px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-image: url(../assets/img/radish.png); 
    background-repeat: no-repeat, no-repeat;
    background-size: 40px;
}end custom scrollbar */

/*Custom scrollbar*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent; 
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(109, 194, 196, 0) 20%, rgba(109, 194, 196, 1) 80%, rgba(109, 194, 196, 0) 100%);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgba(109, 194, 196, 0) 20%, rgba(116, 69, 147, 1) 80%, rgba(109, 194, 196, 0) 100%);
  transition: background 0.3s ease;
}
/*End custom scrollbar*/

/* General styles */
body{
    overflow-x: hidden;
}

h2{
    font-size: xx-large;
    font-family: Lato-Bold, Arial, sans-serif;
}

.text-left{
  text-align: left;
}

.ml-auto{
  margin-left: auto;
}
.btn{
  border: none;
  font-family: Lato-Regular, Arial, sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 25px;

  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.btn-primary{
  background: var(--pink-color);
}

/*btn hover animation*/
span{
  position:relative;
  transition: 0.5s;
  color: #fff;
  font-size: x-large;
}
.btn span::after{
  content:"\003E";
  position:absolute;
  right:-20px; 
  opacity:0;
  transition: 0.5s;
  padding-left: 2px;
}
.btn:hover span{
  padding-right:25px  
}

.btn:hover{
  background-color: var(--dark-text-color);
}
.btn:hover span:after{
  right:0;
  opacity:1
}

.btn:active{
  background-color: var(--dark-blue-color)!important;
}

/*Hover animation end*/

.h-100{
  height: 100%;
}

.section{
  min-height: 100vh;
  width: 100%;
}
/* end general styles */

/* Miscelaneas */
.purple-waves{
    background: url("../assets/img/waves-violetas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
    
}

.lightblue-waves{
    background: url("../assets/img/waves-celestes.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 56px;
    position: absolute;
}

.yellow-waves{
    background: url("../assets/img/waves-amarillas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
}

.cubo-3d{
    background: url("../assets/img/cubo-3d.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    position: absolute
}
/* end miscenaleas */

/* HEADER */
:root{
    --icon-size: 28px;
}
header{
    padding: 0 5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.655);
    backdrop-filter: blur(20px);
}

header .navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    color: var(--dark-text-color);
}

header .nav-link{
    font-size:large;
    color: var(--dark-text-color);
    font-weight: 500;
}

header .nav-item{
    padding: 0 1rem;
}

.switch-mode{
  position: fixed;
  z-index: 50;
  top: 20px;
  right: 5%;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    position: relative;
    width: 100px;
    height: 48px;
    border: 3px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
    cursor: pointer;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(61px, 7px);
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 3px #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 3px white;
    transform: translate(6px, 7px);
  }
  
  .sun-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    opacity: 1;
    transform: translate(6px, 7px) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(6px, 7px) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 2em;
    width: 2em;
    opacity: 0;
    transform: translate(6px, 6px) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(61px, 6px) rotate(-15deg);
  }
  .moon-icon-wrapper path{
    color: white;
  }
  .sun-icon-wrapper path,
  .sun-icon-wrapper circle{
    color: #ffbb52;
  }

/* end header */

/* LOADER */
#loader{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.background-pink{
  background: var(--pink-color);
}

.background-darkblue{
  background: var(--dark-blue-color);
}

.background-lightblue{
  background: var(--light-blue-color);
}

.background-purple{
  background: var(--purple-color);
}



.lds-heart {
    display: inline-block;
    position: absolute;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

/* puzzle */

#seccion-puzzle{
    display: flex;
    align-items: center;
    /* background-color: var(--yellow-color); */
    color: white;
}

#seccion-puzzle h2 {
    padding: 1em;
    margin: 0em;
}
#seccion-puzzle article {
    
    border-radius: 1em;
    text-align: center;
    max-width: 715px;
    margin: auto;
}

#seccion-puzzle #contenedor {
    display: inline-block;
    margin: 1em;
    width: 525px;
}
#seccion-puzzle #contenedor>div {
    float: left;
    width: 202px;
    height: 202px;
    background-color: var(--yellow-color);
}

#seccion-puzzle #imagenes {
    display: inline-block;
    display: flex;
    flex-direction: column;
    height: 605px;
    max-width: 122px !important;
    border:1px solid var(--dark-blue-color);
    text-align:center;
    margin-left: 55px;
    border-radius: 5px;
    margin-top: 10px;
}
#seccion-puzzle #imagenes>img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

#seccion-puzzle .over {
    background-color:#CEF608;
    opacity: 0.5;
}

#seccion-puzzle #resultado {
    font-size:2em;
}
#seccion-puzzle .hide {
    display:none;
}

@media screen and (min-width: 768px) {
    .card{
        width: 30%;
    }
}

.password{
    width: 40%;
}

.form-control{
    border: none;
    border-radius: 25px 0px 0px 25px;
}

.btn-form{
    background-color: white;
}

.btn-form:hover{
    background-color: var(--pink-color);
}

.btn-form:hover i{
    color: white;
}

.video{
    width: 65%
}

/*Branding*/

.logo-indar{
    filter: brightness(0) saturate(100%);
}

.logo-indar:hover{
    filter: none;
    transition: .3s;
}

/*Modales*/
body.modal-open section{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.modal-header{
  border-bottom: none;
}

.modal-content{
    box-shadow: 0 2px 10px 0 rgba( 255, 255, 255, 0.37 );
    border-radius: 18px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.modal-footer button span{
  font-size: medium;
}

/* Videos */
.plyr{
  width: 66%;
  margin: auto;
}
.plyr svg{
  color: white;
}
.plyr button{
  border-radius: 50%;
}