body{
    overflow: hidden;
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-image: url(../assets/img/radish.png); 
    background-repeat: no-repeat, no-repeat;
    background-size: 0px;
}

#section1{
    background: white;
    background: url("../assets/img/fondo-violeta-seccion-uno.png");
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

#section1 h2{
    font-size: 60px;
    color: var(--dark-blue-color);
}

#section1 h2 span{
    font-size: 80px;
    color: var(--pink-color);
    font-family: Lato-bold, Arial, sans-serif;
}

.columna-titulo{
    display: flex;
    align-items: center;
    padding-left: 5vw;
}
.columna-titulo,
.columna-fondo-violeta{
    width: 50%;

}
.columna-fondo-violeta{
    height: 100vh;

}
.fondo-rotar{
    background: url("../assets/img/elementos-seccion-1.png");
    background-size: contain;
    position: relative;
    left: 300px;
    top: -100px;
    background-repeat: no-repeat;
    animation:spin 75s linear infinite;
    transform-origin: center;
    height: 120vh;
    width: 120vh;

}
.fondo-rotar:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
@keyframes spin{
	from{transform:rotate(360deg)}
	to{transform:rotate(0deg)}	
}
/* Cookies message */
.cookies-overlay{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    position: fixed;
    top: 0;
    overflow:-moz-hidden-unscrollable;
}
.cookies-alert{
    background: white;
    padding: 20px;
    position: absolute;
    bottom: 6vh;
    left: 10vw;
    width: 80vw;
    border-radius: var(--rounded-border);
    text-align: center;
    /* z-index: 100; */
}

/* Emoji rain */
@keyframes emoji-fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}
#loader{
    background: var(--pink-color);
}