/* SECCION 2 */
#section2 h2{
    display: inline-block;
}
/* end seccion 2 */

/* Dots background */
.dots-bg {
    height: 70vh;
    width: 80vh;
    position: absolute;
    left: 0;
    top: 20vh;
    background-image: radial-gradient(rgb(228, 60, 90) 2px, transparent 0);
    background-size: 40px 40px;
    z-index: 1;
}
.card{
    z-index: 2;
    border: none;
    background-color: var(--card-fill);
    box-shadow: 3px 6px 15px #0000001a;
    border-radius: 15px;
}

.card-title{
    color: var(--pink-color);
    font-weight: 900;
}

#section2 .purple-waves{
    top: 15vh;
    right: -50px;
}
#section2 .lightblue-waves{
    top: 85vh;
    left: -25px;
}
#loader{
    background: var(--pink-color);
}

/* Scroll animation */
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid var(--pink-color);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    background: var(--pink-color);
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid white;
  	    border-bottom: 3px solid white;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}