@import url(../assets/fonts/font.css);
@import url(colors.css);

*{
  font-family: Lato-Regular, Arial, sans-serif;
  color: var(--dark-text-color);
}

/*Custom scrollbar*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent; 
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(109, 194, 196, 0) 20%, rgba(109, 194, 196, 1) 80%, rgba(109, 194, 196, 0) 100%);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgba(109, 194, 196, 0) 20%, rgba(116, 69, 147, 1) 80%, rgba(109, 194, 196, 0) 100%);
  transition: background 0.3s ease;
}
/*End custom scrollbar*/

/* General styles */
body{
    overflow-x: hidden;
}

h2{
    font-size: xx-large;
    font-family: Lato-Bold, Arial, sans-serif;
}

.text-left{
  text-align: left;
}

.ml-auto{
  margin-left: auto;
}
.btn{
  border: none;
  font-family: Lato-Regular, Arial, sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 25px;

  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.btn-primary{
  background: var(--pink-color);
}

.section{
  min-height: 100vh!important;
  width: 100%;
}

.card{
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* end general styles */

/* Miscelaneas */
.purple-waves{
    background: url("../assets/img/waves-violetas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
    
}

.lightblue-waves{
    background: url("../assets/img/waves-celestes.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 56px;
    position: absolute;
}

.yellow-waves{
    background: url("../assets/img/waves-amarillas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
}

.cubo-3d{
    background: url("../assets/img/cubo-3d.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    position: absolute
}
/* end miscenaleas */

/* HEADER */
:root{
    --icon-size: 28px;
}
header{
    padding: 0 5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.655);
    backdrop-filter: blur(20px);
}

header .navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    color: var(--dark-text-color);
}

header .nav-link{
    font-size:large;
    color: var(--dark-text-color);
    font-weight: 500;
}

header .nav-item{
    padding: 0 1rem;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    position: relative;
    width: 100px;
    height: 48px;
    border: 3px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
    cursor: pointer;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(61px, 7px);
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 3px #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 3px white;
    transform: translate(6px, 7px);
  }
  
  .sun-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    opacity: 1;
    transform: translate(6px, 7px) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(6px, 7px) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 2em;
    width: 2em;
    opacity: 0;
    transform: translate(6px, 6px) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(61px, 6px) rotate(-15deg);
  }
  .moon-icon-wrapper path{
    color: white;
  }
  .sun-icon-wrapper path,
  .sun-icon-wrapper circle{
    color: #ffbb52;
  }

/* end header */

/* LOADER */
#loader{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.background-pink{
  background: var(--pink-color);
}

.background-darkblue{
  background: var(--dark-blue-color);
}

.background-lightblue{
  background: var(--light-blue-color);
}

.background-purple{
  background: var(--purple-color);
}



.lds-heart {
    display: inline-block;
    position: absolute;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

/*Gallery*/
.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: white;
  color: var(--dark-text-color);
}

a {
  color: var(--dark-text-color);
}

a:hover {
  /* color: var(--bs-link-hover-color); */
  color: var(--dark-text-color);
}

.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}

.grid-container{
  background: url(/assets/img/grid.svg) center left no-repeat, url(/assets/img/grid.svg) bottom right no-repeat;
}

.cd-main-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  z-index: 1;
}
.cd-tab-filter-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: solid 3px var(--light-blue-color);
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
  text-decoration: none;
}
.cd-tab-filter a.selected {
  /*background: #41307c;
  color: #ffffff;*/
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: /*inset 0 -2px 0 #41307c,*/ 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
    border-bottom: none;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {       
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    /*font-weight: 700;*/
    text-decoration: none;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #41307c;
  }
  .cd-tab-filter a.selected {
    background: var(--pink-color);
    color: white;
    border-radius: 10px;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}


.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: inline-block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: center;
    width: 100%;
    float: left;
    padding: 0px;
  
  }
  .cd-gallery ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 0;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
  width: 30%;
	float: left;
	margin: 5px;
	padding: 0;
	position: relative;
  cursor: pointer;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--light-blue-color);
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #009bbc;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #41307c;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: var(--light-blue-color);
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: var(--light-blue-color);
  background-color: var(--light-blue-color);
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}


@media (min-width: 480px) and (max-width: 767px) {

.cd-gallery li {
  width: 100%;
  margin-bottom: 2em;
}	
	
}




/* Hover effect on portfolio css start */

.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid li {
	/*display: inline-block;*/
	text-align: left;
	position: relative;
  border-radius: 16px;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
  background: white;
  color: var(--dark-text-color);
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: var(--dark-text-color);
	font-size: 18px;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
.grid figcaption span{
	font-size: 13px;
	margin-top: 5px;
	float: left;
}

.cs-style-3 figure {
	overflow: hidden;
  border-radius: 16px;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	background:rgba(71,172,255,0.3);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	z-index:99;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}



/* opacity background on hover portfolio css start */

.blur_bg {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	position:absolute;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
  
}

.cs-style-3 figure:hover .blur_bg,
.cs-style-3 figure.cs-hover .blur_bg {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: opacity 0.4s ease-in-out; 
  background: rgba(62, 62, 99, 0.2);
  backdrop-filter: blur(5px);
}


video {
  max-width: 100%;
  height: auto;
}

/*Modals*/

.modal-dialog{
  min-width: 60vw;
}

.modal-header{
  border-bottom: none;
}

.modal-title{
  font-size: 1.8rem;
  text-align: center;
  margin: auto;
  color: var(--pink-color);
  font-weight: 700;
}

.close{
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  color: gray !important;
}

.modal-body{
  margin: auto;
}

.modal-body p{
  font-size: 1.1rem;
}

iframe{
  min-width: 100% !important;
  height: 25rem !important;
}

.contact-data{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.contact-data i{
  color: var(--pink-color);
}

.contact-data a{
  text-decoration: none;
  color: var(--pink-color);
}

.modal-footer{
  border-top: none;
}

.btn-primary{
  background-color: var(--pink-color);
}

.btn-secondary{
  border: 1px solid var(--purple-color);
  background-color: transparent;
  color: var(--purple-color);
}

.btn-secondary:hover{
  background-color: var(--purple-color);
  color: white;
}

/*Seccion antes y despues*/

/* Seccion Nike antes y después*/
#page{
  /* width: 100%;
  height: 100%;
  position:absolute; */
}

/* Our normalize css */
*{
  margin:0;
  box-sizing: border-box;
}

/* Our wrapper */
.wrapper{
  width: calc(424px * 1.15); 
  height: calc(600px * 1.15) ;
  position: absolute;
  left:50%;
  top:55%;
  transform:translate3d(-50%,-45%,0);
  overflow:hidden;
  margin-top: 38vh
}

@media(max-width:1400px){
.wrapper{
  width: calc(424px * 0.75); 
  height: calc(600px * 0.75) ;
}
}

/* Our image information */
.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
}

.content-image{
  height:100%;
}

.after{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: transparent;
  opacity:0.9;
  pointer-events:auto;
  cursor: pointer;
}

.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  padding:5px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 3px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
  z-index: 30;
  transition:0.1s;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
border: 2px solid #fff;
}
.scroller:before,
.scroller:after{
background: #fff;
}

#seccion-antes-y-despues{
padding: 0;
}

#seccion-antes-y-despues .col{
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
}

#seccion-layers-fade h3{
  margin-top: 50%;
}

.vertical-img-modal {
  max-height: 70vh !important;
}

#dobleexposicionImg, .card-img-top{
  cursor: pointer;
}

.controls{
  background-color: red;
}

.typed-cursor{
  display: none;
}

/*only desktop*/

@media screen and (min-width: 769px){
  .d-none-desktop{
    display: none;
  }
}

/*mobile*/

@media screen and (max-width: 768px){
  .btn-primary, .btn-secondary{
    width: 100%;
  }

  .w-50, .h-50{
    width: 100%;
  }

  .cd-tab-filter{
    margin: auto;
    display: flex;
    align-items: center;
    width: 60vw;
    justify-content: space-between;
  }

  .cd-tab-filter ul{
    position: inherit;
    width: 100%;
    border-color: var(--pink-color);
  }

  .fa-caret-down{
    color: var(--pink-color);
  }
}
