@import url(colors.css);
body.dark-mode,
.dark-mode #section1{
    background-color: var(--dark-blue-color);
    color: white !important;
}
.dark-mode p,
.dark-mode h2,
.dark-mode h3,
.dark-mode h5,
.dark-mode i,
.dark-mode ul li a,
.dark-mode .navbar-brand{
    color: white !important;
}

.dark-mode header{
    background-color: rgba(77, 85, 108, 0.655);
}

.dark-mode .card{
    background-color: var(--card-fill-dark);
}

.dark-mode .navbar{
    background-color: rgba(44, 43, 56, 0.684);
}

.dark-mode .navbar-toggler span{
    background-color: white;
}

.dark-mode .contact-data i, .dark-mode .contact-data a{
    color: white;
}